[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
canvasapi = "*"
environs = "*"
pdfplumber = "*"
luigi = "*"
task = "*"
requests-mock = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
