[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
canvasapi = "*"
environs = "*"
pdfplumber = "*"
luigi = "*"
task = "*"

[dev-packages]

[requires]
python_version = "3.8"
